@import "~bootstrap/scss/bootstrap";
@import "~react-toastify/dist/ReactToastify.css";


#sent-message {
  font-family: arial;
  font-style: italic;
}

/*iframe {
  width: 100%;
  height: 100%;
}

reference:
height row vh-100 https: //stackoverflow.com/a/69137399
<div className="row border vh-100">

iframe{
pointer-events: unset
}
 */
